<div class="calendar-header">
  <div class="left">
    <button class="btn btn-primary compact" (click)="onCreateEvent()">
      <i class="bi bi-plus-lg"></i> New meeting
    </button>
    <div class="navigation-group">
      <button class="btn btn-icon-compact" (click)="prev()"><i class="bi bi-chevron-left"></i></button>
      <button class="btn btn-today" (click)="today()">Today</button>
      <button class="btn btn-icon-compact" (click)="next()"><i class="bi bi-chevron-right"></i></button>
    </div>
    <span class="date-label text-lg font-semibold ml-2">{{ dateLabel }}</span>
  </div>

  
  <div class="right">
    <div class="view-toggle group">
      <button 
        [class.active]="viewType === 'day'" 
        (click)="setView('day')">Day</button>
      <button 
        [class.active]="viewType === 'week'" 
        (click)="setView('week')">Work week</button>
      <button 
        [class.active]="viewType === 'month'" 
        (click)="setView('month')">Month</button>
    </div>
  </div>
</div>
