:root {
  --app-header-height: 50px;
  --app-header-offset: var(--app-header-height);
  --app-footer-height: 40px;

  /* Theme colors */
  --light-bg: #fcfcfc;
  --light-text: #212529;

  --dark-bg: #0f172a;
  --dark-text: #e5e7eb;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Inter', 'Segoe UI', Roboto, Arial, sans-serif;
}

body.theme-light {
  color-scheme: light;
  background-color: var(--light-bg);
  color: var(--light-text);
}

body.theme-dark {
  color-scheme: dark;
  background-color: var(--dark-bg);
  color: var(--dark-text);
}
.meet-now-dialog .mat-mdc-dialog-container {
  padding: 0;
  border-radius: 10px;
}

/* ===== Scrollbar CSS ===== */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d6d6d6;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
/* ===== Scrollbar CSS End===== */
