:root {
  --app-header-height: 50px;
  --app-header-offset: var(--app-header-height);
  --app-footer-height: 0px; // Footer is hidden or not used in current designs

  /* Theme colors */
  --light-bg: #fcfcfc;
  --light-text: #1e293b;

  --dark-bg: #0f172a;
  --dark-text: #f8fafc;
}

html,
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Inter', 'Segoe UI', system-ui, sans-serif;
}

body.theme-light {
  color-scheme: light;
  background-color: var(--light-bg);
  color: var(--light-text);
}

body.theme-dark {
  color-scheme: dark;
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.meet-now-dialog .mat-mdc-dialog-container {
  padding: 0;
  border-radius: 10px;
}

/* ===== Scrollbar CSS ===== */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #e5e5e5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d6d6d6;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* ===== Scrollbar CSS End===== */

.mb-0 {
  margin-bottom: 0px !important;
}


.form-control:focus {
  border-color: #007bff !important;
  box-shadow: none !important;
}

.form-control:focus-visible {
  border-color: #007bff !important;
  box-shadow: none !important;
}